<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/games']">Games list</a></li>
    <li class="breadcrumb-item active">Add games</li>
  </ol>
</nav>

<h2 class="mb-4">Add a game</h2>

<div class="card theme-wizard mb-5" data-theme-wizard="data-theme-wizard">
  <div class="card-header bg-body-highlight pt-3 pb-2 border-bottom-0">
    <ul class="nav justify-content-between nav-wizard" role="tablist">

      <li class="nav-item" role="presentation">
        <a class="nav-link active fw-semibold" href="#bootstrap-wizard-validation-tab1" data-bs-toggle="tab"
           data-wizard-step="1" aria-selected="true" role="tab">
          <div class="text-center d-inline-block">
            <span class="nav-item-circle-parent" style="margin-right: 9px">
              <span class="nav-item-circle">
                <i class="far fa-file-alt"></i>
              </span>
            </span>
            <span class="d-none d-md-block mt-1 fs-9">Description</span>
          </div>
        </a>
      </li>

      <li class="nav-item" role="presentation">
        <a class="nav-link fw-semibold" href="#bootstrap-wizard-validation-tab2" data-bs-toggle="tab"
           data-wizard-step="2" aria-selected="false" tabindex="-1" role="tab">
          <div class="text-center d-inline-block">
            <span class="nav-item-circle-parent" style="margin-right: 15px">
              <span class="nav-item-circle">
                <i class="fas fa-info"></i>
              </span>
            </span>
            <span class="d-none d-md-block mt-1 fs-9">Informations</span>
          </div>
        </a>
      </li>

      <li class="nav-item" role="presentation">
        <a class="nav-link fw-semibold" href="#bootstrap-wizard-validation-tab3" data-bs-toggle="tab"
           data-wizard-step="3" aria-selected="false" tabindex="-1" role="tab">
          <div class="text-center d-inline-block">
            <span class="nav-item-circle-parent" style="margin-right: 9px">
              <span class="nav-item-circle">
                <i class="far fa-file-image"></i>
              </span>
            </span>
            <span class="d-none d-md-block mt-1 fs-9">Images</span>
          </div>
        </a>
      </li>


      <li class="nav-item" role="presentation">
        <a class="nav-link fw-semibold" href="#bootstrap-wizard-validation-tab4" data-bs-toggle="tab"
           data-wizard-step="5" aria-selected="false" tabindex="-1" role="tab">
          <div class="text-center d-inline-block">
            <span class="nav-item-circle-parent" style="margin-right: 9px">
              <span class="nav-item-circle">
                <i class="fas fa-check"></i>
              </span>
            </span>
            <span class="d-none d-md-block mt-1 fs-9">Done</span>
          </div>
        </a>
      </li>


    </ul>
  </div>


  <div class="card-body pt-4 pb-0">
    <form [formGroup]="gameForm" (ngSubmit)="onSubmit()" class="needs-validation"  id="wizardValidationForm"
          novalidate="novalidate">
      <div class="tab-content">
        <!-- Account Section -->


        <div class="tab-pane active" role="tabpanel" id="bootstrap-wizard-validation-tab1">
          <div class="mb-2">
            <label class="form-label" for="gameName">Game name</label>
            <input class="form-control" id="gameName" formControlName="gameName" type="text" placeholder="Example name">
            <div *ngIf="gameForm.get('gameName')?.invalid && gameForm.get('gameName')?.touched" class="text-danger">
              <small>Game name is required (min 3 characters).</small>
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label" for="gameDescription">Game description</label>
            <textarea class="form-control" id="gameDescription" formControlName="gameDescription" rows="4"
                      placeholder="Description"></textarea>
            <div *ngIf="gameForm.get('gameDescription')?.invalid && gameForm.get('gameDescription')?.touched"
                 class="text-danger">
              <small>Game description is required (min 10 characters).</small>
            </div>
          </div>

        </div>

        <!-- Personal Section -->
        <div class="tab-pane" role="tabpanel" id="bootstrap-wizard-validation-tab2">


            <div class="mb-2">
              <label class="form-label" for="publisher">Publisher</label>
              <input class="form-control" id="publisher" formControlName="publisher" type="text"
                     placeholder="Publisher example">
              <div *ngIf="gameForm.get('publisher')?.invalid && gameForm.get('publisher')?.touched" class="text-danger">
                <small>Publisher is required.</small>
              </div>
            </div>

            <div class="mb-2">
              <label class="form-label" for="releaseDate">Release Date</label>
              <input class="form-control" id="releaseDate" formControlName="releaseDate" type="date">

<!--              <label class="form-label" for="datepicker">Start Date</label>-->
<!--              <input class="form-control datetimepicker" id="datepicker" formControlName="releaseDate" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />-->


              <div *ngIf="gameForm.get('releaseDate')?.invalid && gameForm.get('releaseDate')?.touched"
                   class="text-danger">
                <small>Release date is required.</small>
              </div>
            </div>

            <div class="mb-2">
              <label class="form-label" for="gameType">Category</label>
              <select class="form-select" id="gameType" formControlName="gameType">
                <option value="">Select a category...</option>
                <option value="Action">Action</option>
                <option value="Simulation">Simulation</option>
                <option value="Strategy">Strategy</option>
                <option value="Puzzle">Puzzle</option>
                <option value="RPG">RPG</option>
                <option value="Sports">Sports</option>
                <option value="Racing">Racing</option>
                <option value="Fighting">Fighting</option>
                <option value="Platformer">Platformer</option>
                <option value="Horror">Horror</option>
                <option value="Adventure">Adventure</option>
              </select>
              <div *ngIf="gameForm.get('gameType')?.invalid && gameForm.get('gameType')?.touched" class="text-danger">
                <small>Category is required.</small>
              </div>
            </div>

            <div class="mb-2">
              <label class="form-label" for="platform">Platforms</label>
              <input class="form-control" id="platform" formControlName="platform" type="text"
                     placeholder="e.g., PC, Xbox, PlayStation">
              <div *ngIf="gameForm.get('platform')?.invalid && gameForm.get('platform')?.touched" class="text-danger">
                <small>Platforms are required.</small>
              </div>
            </div>


        </div>

        <!-- Billing Section -->
        <div class="tab-pane" role="tabpanel" id="bootstrap-wizard-validation-tab3">
          <div class="row gx-3 gy-2">


            <div class="dropzone" id="dropzone-multiple">
              <div class="dz-message">
                <img class="me-2" src="/assets/img/icons/cloud-upload.svg" width="25" alt=""/>Drop your files here
              </div>
            </div>


          </div>
        </div>


        <!--         Done Section -->
        <div class="tab-pane" role="tabpanel" id="bootstrap-wizard-validation-tab4">
          <div class="row flex-center pb-8 pt-4 gx-3 gy-4">
            <div class="col-12 col-sm-auto">
              <div class="text-center text-sm-start">
                <img class="d-dark-none" src="/assets/img/spot-illustrations/38.webp" alt="" width="220">
                <img class="d-light-none" src="/assets/img/spot-illustrations/dark_38.webp" alt="" width="220">
              </div>
            </div>
            <div class="col-12 col-sm-auto">
              <div class="text-center text-sm-start">
                <h5 class="mb-3">You are all set!</h5>
                <p class="text-body-emphasis fs-9">Review your data and submit the form.</p>
                <button class="btn btn-primary" type="submit" [disabled]="gameForm.invalid">Submit</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </form>
  </div>
  <div class="card-footer border-top-0" data-wizard-footer="data-wizard-footer">
    <div class="d-flex pager wizard list-inline mb-0">
      <button class="d-none btn btn-link ps-0" type="button" data-wizard-prev-btn="data-wizard-prev-btn">Previous
      </button>
      <div class="flex-1 text-end">
        <button class="btn btn-primary px-6 px-sm-6" type="button" data-wizard-next-btn="data-wizard-next-btn">Next
        </button>
      </div>
    </div>
  </div>
</div>


