<div class="row vh-100 g-0">
  <div class="col-lg-6 position-relative d-none d-lg-block">
    <div class="bg-holder" style="background-image:url('assets/img/bg/lastofusback.jpg');"></div>
  </div>
  <div class="col-lg-6">
    <div class="row flex-center h-100 g-0 px-4 px-sm-0">
      <div class="col col-sm-6 col-lg-7 col-xl-6">
        <a class="d-flex flex-center text-decoration-none mb-4" routerLink="/">
          <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
            <img src="assets/img/icons/gamemax-background.png" alt="logo" width="58" />
          </div>
        </a>
        <div class="text-center mb-6">
          <h4 class="text-body-highlight">Réinitialiser le mot de passe</h4>
          <p class="text-body-tertiary">Entrez votre nouveau mot de passe</p>
          
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="mt-5">
            <div class="form-group mb-3">
              <input 
                class="form-control" 
                id="password" 
                type="password" 
                formControlName="password"
                placeholder="Nouveau mot de passe"
                [ngClass]="{ 'is-invalid': resetForm.get('password')?.invalid && resetForm.get('password')?.touched }"
              />
              <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" class="invalid-feedback">
                <div *ngIf="resetForm.get('password')?.errors?.['required']">Le mot de passe est requis</div>
                <div *ngIf="resetForm.get('password')?.errors?.['minlength']">
                  Le mot de passe doit contenir au moins 8 caractères
                </div>
              </div>
            </div>
            
            <div class="form-group mb-4">
              <input 
                class="form-control" 
                id="confirmPassword" 
                type="password" 
                formControlName="confirmPassword"
                placeholder="Confirmer le mot de passe"
                [ngClass]="{ 'is-invalid': resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched || resetForm.errors?.['mismatch'] }"
              />
              <div *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched" class="invalid-feedback">
                La confirmation est requise
              </div>
              <div *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('confirmPassword')?.touched" class="invalid-feedback">
                Les mots de passe ne correspondent pas
              </div>
            </div>
            
            <div *ngIf="successMessage" class="alert alert-success mb-3">
              {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-success mb-3">
              {{ errorMessage }}
            </div>
            
            <button class="btn btn-primary w-100" type="submit" [disabled]="resetForm.invalid">
              Réinitialiser le mot de passe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>