<div class="content">
    <nav class="mb-2" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
        <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
        <li class="breadcrumb-item active">Default</li>
      </ol>
    </nav>
    <div class="pb-6">
      <h2 class="mb-4">6 Leads</h2>
      <div id="lealsTable" data-list='{"valueNames":["name","email","phone","contact","date"],"page":10,"pagination":true}'>
        <div class="row g-3 justify-content-between mb-4">
          <div class="col-auto">
            <div class="d-md-flex justify-content-between">
              <div><button class="btn btn-primary me-4"><span class="fas fa-plus me-2"></span>Create Lead</button><button class="btn btn-link text-body px-0"><span class="fa-solid fa-file-export fs-9 me-2"></span>Export</button></div>
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex">
              <div class="search-box me-2">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search" type="search" placeholder="Search by name" aria-label="Search" />
                  <span class="fas fa-search search-box-icon"></span>
                </form>
              </div>
              <div class="flatpickr-input-container me-2"><input class="form-control ps-6 datetimepicker" id="datepicker" type="text" data-options='{"dateFormat":"M j, Y","disableMobile":true,"defaultDate":"Mar 1, 2022"}' /><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span></div><button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="modal" data-bs-target="#filterModal" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span></button>
              <div class="modal fade" id="filterModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content border border-translucent">
                    <form id="addEventForm" autocomplete="off">
                      <div class="modal-header border-translucent p-4">
                        <h5 class="modal-title text-body-highlight fs-6 lh-sm">Filter</h5><button class="btn p-1 text-body" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                      </div>
                      <div class="modal-body pt-4 pb-2 px-4">
                        <div class="mb-3"><label class="fw-bold mb-2 text-body-highlight" for="leadStatus">Lead Status</label><select class="form-select" id="leadStatus">
                            <option value="newLead" selected="selected">New Lead</option>
                            <option value="coldLead">Cold Lead</option>
                            <option value="wonLead">Won Lead</option>
                            <option value="canceled">Canceled</option>
                          </select></div>
                        <div class="mb-3"><label class="fw-bold mb-2 text-body-highlight" for="createDate">Create Date</label><select class="form-select" id="createDate">
                            <option value="today" selected="selected">Today</option>
                            <option value="last7Days">Last 7 Days</option>
                            <option value="last30Days">Last 30 Days</option>
                            <option value="chooseATimePeriod">Choose a time period</option>
                          </select></div>
                        <div class="mb-3"><label class="fw-bold mb-2 text-body-highlight" for="designation">Designation</label><select class="form-select" id="designation">
                            <option value="VPAccounting" selected="selected">VP Accounting</option>
                            <option value="ceo">CEO</option>
                            <option value="creativeDirector">Creative Director</option>
                            <option value="accountant">Accountant</option>
                            <option value="executiveManager">Executive Manager</option>
                          </select></div>
                      </div>
                      <div class="modal-footer d-flex justify-content-end align-items-center px-4 pb-4 border-0 pt-3"><button class="btn btn-sm btn-phoenix-primary px-4 fs-10 my-0" type="submit"> <span class="fas fa-arrows-rotate me-2 fs-10"></span>Reset</button><button class="btn btn-sm btn-primary px-9 fs-10 my-0" type="submit">Done</button></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive scrollbar mx-n1 px-1 border-top border-translucent">
          <table class="table fs-9 mb-0 leads-table">
            <thead>
              <tr>
                <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                  <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select='{"body":"leal-tables-body"}' /></div>
                </th>
                <th class="sort white-space-nowrap align-middle text-uppercase ps-0" scope="col" data-sort="name" style="width:25%;">Name</th>
                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="email" style="width:15%;">
                  <div class="d-inline-flex flex-center">
                    <div class="d-flex align-items-center px-1 py-1 bg-success-subtle rounded me-2"><span class="text-success-dark" data-feather="mail"></span></div><span>Email</span>
                  </div>
                </th>
                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="phone" style="width:15%; min-width: 180px;">
                  <div class="d-inline-flex flex-center">
                    <div class="d-flex align-items-center px-1 py-1 bg-primary-subtle rounded me-2"><span class="text-primary-dark" data-feather="phone"></span></div><span>Phone</span>
                  </div>
                </th>
                <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="contact" style="width:15%;">
                  <div class="d-inline-flex flex-center">
                    <div class="d-flex align-items-center px-1 py-1 bg-info-subtle rounded me-2"><span class="text-info-dark" data-feather="user"></span></div><span>Contact name</span>
                  </div>
                </th>
                <th class="sort align-middle ps-4 pe-5 text-uppercase" scope="col" data-sort="date" style="width:15%;">Create date</th>
                <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
              </tr>
            </thead>
            <tbody class="list" id="leal-tables-body">
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="fs-9 align-middle">
                  <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/32.webp","name":"Anthoney Michael","designation":"VP Accounting","status":{"label":"new lead","type":"badge-phoenix-primary"}},"email":"anth125@gmail.com","phone":"+1-202-555-0126","contact":"Ally Aagaard","date":"Jan 01, 12:56 PM"}' /></div>
                </td>
                <td class="name align-middle white-space-nowrap ps-0">
                  <div class="d-flex align-items-center"><a href="#!">
                      <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="../../assets/img/team/AssilAdmin.jpg" alt="" /></div>
                    </a>
                    <div><a class="fs-8 fw-bold" [routerLink]="['/admindetails', 'assil']">Assil Belhouene</a>
                      <div class="d-flex align-items-center">
                        <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">VP Accounting</p><span class="badge badge-phoenix badge-phoenix-primary">new lead</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="mailto:anth125@gmail.com">Assil.Belhouene@Esprit.tn</a></td>
                <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="tel:+1-202-555-0126">+216 95 485 216</a></td>
                <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">Assil Assoula</td>
                <td class="date align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary">Jan 01, 12:56 PM</td>
                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                  <div class="btn-reveal-trigger position-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="fs-9 align-middle">
                  <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/33.webp","name":"Jacob Russell","designation":"Executive Manager","status":{"label":"Cancelled","type":"badge-phoenix-secondary"}},"email":"jacob@yahoo.com","phone":"+1-202-555-0135","contact":"Alex Abadi","date":"Dec 31, 11:51 PM"}' /></div>
                </td>
                <td class="name align-middle white-space-nowrap ps-0">
                  <div class="d-flex align-items-center"><a href="#!">
                      <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="../../assets/img/team/shaymaadmin.jpg" alt="" /></div>
                    </a>
                    <div><a class="fs-8 fw-bold" [routerLink]="['/admindetails','shayma']">Shayma Ridene</a>
                      <div class="d-flex align-items-center">
                        <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">Executive Manager</p><span class="badge badge-phoenix badge-phoenix-secondary">Cancelled</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="mailto:jacob@yahoo.com">shayma.ridene@Esprit.tn</a></td>
                <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="tel:+1-202-555-0135">+216 22 512 148</a></td>
                <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">Shayma Ridene</td>
                <td class="date align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary">Dec 31, 11:51 PM</td>
                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                  <div class="btn-reveal-trigger position-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="fs-9 align-middle">
                  <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/34.webp","name":"Diego Anthony","designation":"CEO","status":{"label":"In progress","type":"badge-phoenix-info"}},"email":"diego20@hotmail.com","phone":"+44 1632 960970","contact":"Lyla Nicole","date":"Dec 29, 02:11 AM"}' /></div>
                </td>
                <td class="name align-middle white-space-nowrap ps-0">
                  <div class="d-flex align-items-center"><a href="#!">
                      <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="../../assets/img/team/mariemadmin.jpg" alt="" /></div>
                    </a>
                    <div><a class="fs-8 fw-bold" href="#!">Mariem Abouda</a>
                      <div class="d-flex align-items-center">
                        <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">CEO</p><span class="badge badge-phoenix badge-phoenix-info">In progress</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="mailto:diego20@hotmail.com">Mariem.Abouda@esprit.tn</a></td>
                <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="tel:+441632960970">+216 94 200350</a></td>
                <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">Mariem Abouda</td>
                <td class="date align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary">Dec 29, 02:11 AM</td>
                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                  <div class="btn-reveal-trigger position-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="fs-9 align-middle">
                  <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/35.webp","name":"Austin James","designation":"Creative Director","status":{"label":"Cold lead","type":"badge-phoenix-warning"}},"email":"austin@sni.it","phone":"+44 1632 960970","contact":"Kylia Abbott","date":"Dec 28, 10:56 PM"}' /></div>
                </td>
                <td class="name align-middle white-space-nowrap ps-0">
                  <div class="d-flex align-items-center"><a href="#!">
                      <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="../../assets/img/team/raslenadmin.jpg" alt="" /></div>
                    </a>
                    <div><a class="fs-8 fw-bold" href="#!">Missaoui Raslen</a>
                      <div class="d-flex align-items-center">
                        <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">Creative Director</p><span class="badge badge-phoenix badge-phoenix-warning">Cold lead</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="mailto:austin@sni.it">raslen.missaoui@esprit.tn</a></td>
                <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="tel:+441632960970">+216 95 084 824</a></td>
                <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">Raslen Missaoui </td>
                <td class="date align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary">Dec 28, 10:56 PM</td>
                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                  <div class="btn-reveal-trigger position-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="fs-9 align-middle">
                  <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/24.webp","name":"Sarah Lynn","designation":"Accountant","status":{"label":"won lead","type":"badge-phoenix-success"}},"email":"sarah@technext.it","phone":"+1-202-555-0177","contact":"Bryce Abbott","date":"Dec 27, 11:43 PM"}' /></div>
                </td>
                <td class="name align-middle white-space-nowrap ps-0">
                  <div class="d-flex align-items-center"><a href="#!">
                      <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="../../assets/img/team/azizadmin.jpg" alt="" /></div>
                    </a>
                    <div><a class="fs-8 fw-bold" href="#!">Aziz Gmaty</a>
                      <div class="d-flex align-items-center">
                        <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">Accountant</p><span class="badge badge-phoenix badge-phoenix-success">won lead</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="mailto:sarah@technext.it">Aziz.Gmaty@esprit.tn</a></td>
                <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="tel:+1-202-555-0177">+216 94 255 646</a></td>
                <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">Aziz Gmaty</td>
                <td class="date align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary">Dec 27, 11:43 PM</td>
                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                  <div class="btn-reveal-trigger position-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="fs-9 align-middle">
                  <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/29.webp","name":"Reyna Denise","designation":"Executive Manager","status":{"label":"new lead","type":"badge-phoenix-info"}},"email":"reyna99@gmail.com","phone":"+44 1632 960958","contact":"Jase Adams","date":"Dec 25, 12:55 PM"}' /></div>
                </td>
                <td class="name align-middle white-space-nowrap ps-0">
                  <div class="d-flex align-items-center"><a href="#!">
                      <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="../../assets/img/team/Omaradmin.jpg" alt="" /></div>
                    </a>
                    <div><a class="fs-8 fw-bold"  [routerLink]="['/admindetails', 'omar']">Omar Marrakshi</a>
                      <div class="d-flex align-items-center">
                        <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">Executive Manager</p><span class="badge badge-phoenix badge-phoenix-info">new lead</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="mailto:reyna99@gmail.com">omar.marrakshi@esprit.tn</a></td>
                <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="tel:+441632960958">+216 95 960 958</a></td>
                <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">Omar Marrakshi</td>
                <td class="date align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary">Dec 25, 12:55 PM</td>
                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                  <div class="btn-reveal-trigger position-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row align-items-center justify-content-end py-4 pe-0 fs-9">
          <div class="col-auto d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
          </div>
          <div class="col-auto d-flex"><button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer position-absolute">
      <div class="row g-0 justify-content-between align-items-center h-100">
        <div class="col-12 col-sm-auto text-center">
          <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com/">Themewagon</a></p>
        </div>
        <div class="col-12 col-sm-auto text-center">
          <p class="mb-0 text-body-tertiary text-opacity-85">v1.14.0</p>
        </div>
      </div>
    </footer>
  </div>
  <div class="support-chat-container">
    <div class="container-fluid support-chat">
      <div class="card bg-body-emphasis">
        <div class="card-header d-flex flex-between-center px-4 py-3 border-bottom border-translucent">
          <h5 class="mb-0 d-flex align-items-center gap-2">Demo widget<span class="fa-solid fa-circle text-success fs-11"></span></h5>
          <div class="btn-reveal-trigger"><button class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex" type="button" id="support-chat-dropdown" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-body"></span></button>
            <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="support-chat-dropdown"><a class="dropdown-item" href="#!">Request a callback</a><a class="dropdown-item" href="#!">Search in chat</a><a class="dropdown-item" href="#!">Show history</a><a class="dropdown-item" href="#!">Report to Admin</a><a class="dropdown-item btn-support-chat" href="#!">Close Support</a></div>
          </div>
        </div>
        <div class="card-body chat p-0">
          <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
            <div class="text-end mt-6"><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                <p class="mb-0 fw-semibold fs-9">I need help with something</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
              </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                <p class="mb-0 fw-semibold fs-9">I can’t reorder a product I previously ordered</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
              </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                <p class="mb-0 fw-semibold fs-9">How do I place an order?</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
              </a><a class="false d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                <p class="mb-0 fw-semibold fs-9">My payment method not working</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
              </a></div>
            <div class="text-center mt-auto">
              <div class="avatar avatar-3xl status-online"><img class="rounded-circle border border-3 border-light-subtle" src="../../assets/img/team/30.webp" alt="" /></div>
              <h5 class="mt-2 mb-3">Eric</h5>
              <p class="text-center text-body-emphasis mb-0">Ask us anything – we’ll get back to you here or by email within 24 hours.</p>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center gap-2 border-top border-translucent ps-3 pe-4 py-3">
          <div class="d-flex align-items-center flex-1 gap-3 border border-translucent rounded-pill px-4"><input class="form-control outline-none border-0 flex-1 fs-9 px-0" type="text" placeholder="Write message" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatPhotos"><span class="fa-solid fa-image"></span></label><input class="d-none" type="file" accept="image/*" id="supportChatPhotos" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatAttachment"> <span class="fa-solid fa-paperclip"></span></label><input class="d-none" type="file" id="supportChatAttachment" /></div><button class="btn p-0 border-0 send-btn"><span class="fa-solid fa-paper-plane fs-9"></span></button>
        </div>
      </div>
    </div><button class="btn p-0 border border-translucent btn-support-chat"><span class="fs-8 btn-text text-primary text-nowrap">Chat demo</span><span class="fa-solid fa-circle text-success fs-9 ms-2"></span><span class="fa-solid fa-chevron-down text-primary fs-7"></span></button>
  </div>