<p>all-packs works!</p>
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
    <div class="modal-dialog">
      <div class="modal-content mt-15 rounded-pill">
        <div class="modal-body p-0">
          <div class="search-box navbar-top-search-box" data-list='{"valueNames":["title"]}' style="width: auto;">
            <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input fuzzy-search rounded-pill form-control-lg" type="search" placeholder="Search..." aria-label="Search" />
              <span class="fas fa-search search-box-icon"></span>
            </form>
            <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search"><button class="btn btn-link p-0" aria-label="Close"></button></div>
            <div class="dropdown-menu border start-0 py-0 overflow-hidden w-100">
              <div class="scrollbar-overlay" style="max-height: 30rem;">
                <div class="list pb-3">
                  <h6 class="dropdown-header text-body-highlight fs-10 py-2">24 <span class="text-body-quaternary">results</span></h6>
                  <hr class="my-0" />
                  <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Recently Searched </h6>
                  <div class="py-2"><a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Store Macbook</div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> MacBook Air - 13″</div>
                      </div>
                    </a>
                  </div>
                  <hr class="my-0" />
                  <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Products</h6>
                  <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../e-commerce/landing/product-details.html">
                      <div class="file-thumbnail me-2"><img class="h-100 w-100 fit-cover rounded-3" src="../../assets/img/products/60x60/3.png" alt="" /></div>
                      <div class="flex-1">
                        <h6 class="mb-0 text-body-highlight title">MacBook Air - 13″</h6>
                        <p class="fs-10 mb-0 d-flex text-body-tertiary"><span class="fw-medium text-body-tertiary text-opactity-85">8GB Memory - 1.6GHz - 128GB Storage</span></p>
                      </div>
                    </a>
                    <a class="dropdown-item py-2 d-flex align-items-center" href="../e-commerce/landing/product-details.html">
                      <div class="file-thumbnail me-2"><img class="img-fluid" src="../../assets/img/products/60x60/3.png" alt="" /></div>
                      <div class="flex-1">
                        <h6 class="mb-0 text-body-highlight title">MacBook Pro - 13″</h6>
                        <p class="fs-10 mb-0 d-flex text-body-tertiary"><span class="fw-medium text-body-tertiary text-opactity-85 ms-2">30 Sep at 12:30 PM</span></p>
                      </div>
                    </a>
                  </div>
                  <hr class="my-0" />
                  <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Quick Links</h6>
                  <div class="py-2"><a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-link text-body" data-fa-transform="shrink-2"></span> Support MacBook House</div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-link text-body" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                      </div>
                    </a>
                  </div>
                  <hr class="my-0" />
                  <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Files</h6>
                  <div class="py-2"><a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"><span class="fa-solid fa-file-zipper text-body" data-fa-transform="shrink-2"></span> Library MacBook folder.rar</div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-file-lines text-body" data-fa-transform="shrink-2"></span> Feature MacBook extensions.txt</div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"> <span class="fa-solid fa-image text-body" data-fa-transform="shrink-2"></span> MacBook Pro_13.jpg</div>
                      </div>
                    </a>
                  </div>
                  <hr class="my-0" />
                  <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Members</h6>
                  <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../../pages/members.html">
                      <div class="avatar avatar-l status-online  me-2 text-body">
                        <img class="rounded-circle " src="../../assets/img/team/40x40/10.webp" alt="" />
                      </div>
                      <div class="flex-1">
                        <h6 class="mb-0 text-body-highlight title">Carry Anna</h6>
                        <p class="fs-10 mb-0 d-flex text-body-tertiary"></p>
                      </div>
                    </a>
                    <a class="dropdown-item py-2 d-flex align-items-center" href="../../pages/members.html">
                      <div class="avatar avatar-l  me-2 text-body">
                        <img class="rounded-circle " src="../../assets/img/team/40x40/12.webp" alt="" />
                      </div>
                      <div class="flex-1">
                        <h6 class="mb-0 text-body-highlight title">John Smith</h6>
                        <p class="fs-10 mb-0 d-flex text-body-tertiary"></p>
                      </div>
                    </a>
                  </div>
                  <hr class="my-0" />
                  <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">Related Searches</h6>
                  <div class="py-2"><a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"><span class="fa-brands fa-firefox-browser text-body" data-fa-transform="shrink-2"></span> Search in the Web MacBook</div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="../e-commerce/landing/product-details.html">
                      <div class="d-flex align-items-center">
                        <div class="fw-normal text-body-highlight title"> <span class="fa-brands fa-chrome text-body" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="text-center">
                  <p class="fallback fw-bold fs-7 d-none">No Result Found.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var navbarTopShape = window.config.config.phoenixNavbarTopShape;
    var navbarPosition = window.config.config.phoenixNavbarPosition;
    var body = document.querySelector('body');
    var navbarDefault = document.querySelector('#navbarDefault');
    var navbarTop = document.querySelector('#navbarTop');
    var topNavSlim = document.querySelector('#topNavSlim');
    var navbarTopSlim = document.querySelector('#navbarTopSlim');
    var navbarCombo = document.querySelector('#navbarCombo');
    var navbarComboSlim = document.querySelector('#navbarComboSlim');
    var dualNav = document.querySelector('#dualNav');

    var documentElement = document.documentElement;
    var navbarVertical = document.querySelector('.navbar-vertical');

    if (navbarPosition === 'dual-nav') {
      topNavSlim.remove();
      navbarTop.remove();
      navbarVertical.remove();
      navbarTopSlim.remove();
      navbarCombo.remove();
      navbarComboSlim.remove();
      navbarDefault.remove();
      dualNav.removeAttribute('style');
      document.documentElement.setAttribute('data-navigation-type', 'dual');

    } else if (navbarTopShape === 'slim' && navbarPosition === 'vertical') {
      navbarDefault.remove();
      navbarTop.remove();
      navbarTopSlim.remove();
      navbarCombo.remove();
      navbarComboSlim.remove();
      topNavSlim.style.display = 'block';
      navbarVertical.style.display = 'inline-block';
      document.documentElement.setAttribute('data-navbar-horizontal-shape', 'slim');

    } else if (navbarTopShape === 'slim' && navbarPosition === 'horizontal') {
      navbarDefault.remove();
      navbarVertical.remove();
      navbarTop.remove();
      topNavSlim.remove();
      navbarCombo.remove();
      navbarComboSlim.remove();
      navbarTopSlim.removeAttribute('style');
      document.documentElement.setAttribute('data-navbar-horizontal-shape', 'slim');
    } else if (navbarTopShape === 'slim' && navbarPosition === 'combo') {
      navbarDefault.remove();
      navbarTop.remove();
      topNavSlim.remove();
      navbarCombo.remove();
      navbarTopSlim.remove();
      navbarComboSlim.removeAttribute('style');
      navbarVertical.removeAttribute('style');
      document.documentElement.setAttribute('data-navbar-horizontal-shape', 'slim');
    } else if (navbarTopShape === 'default' && navbarPosition === 'horizontal') {
      navbarDefault.remove();
      topNavSlim.remove();
      navbarVertical.remove();
      navbarTopSlim.remove();
      navbarCombo.remove();
      navbarComboSlim.remove();
      navbarTop.removeAttribute('style');
      document.documentElement.setAttribute('data-navigation-type', 'horizontal');
    } else if (navbarTopShape === 'default' && navbarPosition === 'combo') {
      topNavSlim.remove();
      navbarTop.remove();
      navbarTopSlim.remove();
      navbarDefault.remove();
      navbarComboSlim.remove();
      navbarCombo.removeAttribute('style');
      navbarVertical.removeAttribute('style');
      document.documentElement.setAttribute('data-navigation-type', 'combo');


    } else {
      topNavSlim.remove();
      navbarTop.remove();
      navbarTopSlim.remove();
      navbarCombo.remove();
      navbarComboSlim.remove();
      navbarDefault.removeAttribute('style');
      navbarVertical.removeAttribute('style');
    }

    var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
    var navbarTop = document.querySelector('.navbar-top');
    if (navbarTopStyle === 'darker') {
      navbarTop.setAttribute('data-navbar-appearance', 'darker');
    }

    var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
    var navbarVertical = document.querySelector('.navbar-vertical');
    if (navbarVerticalStyle === 'darker') {
      navbarVertical.setAttribute('data-navbar-appearance', 'darker');
    }
  </script>



  <div class="row gx-6 gy-3 mb-4 align-items-center">
    <div class="col-auto">
      <h2 class="mb-0">Packs<span class="fw-normal text-body-tertiary ms-3">(32)</span></h2>
    </div>
    <div class="col-auto"><a class="btn btn-primary px-5" [routerLink]="['/addPacks']" ><i class="fa-solid fa-plus me-2"></i>Add new packs</a></div>
  </div>
  <div class="row justify-content-between align-items-end mb-4 g-3">
    <div class="col-12 col-sm-auto">
      <ul class="nav nav-links mx-n2">
        <li class="nav-item"><a class="nav-link px-2 py-1 active" aria-current="page" href="#"><span>All</span><span class="text-body-tertiary fw-semibold">(32)</span></a></li>
        <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Ongoing</span><span class="text-body-tertiary fw-semibold">(14)</span></a></li>
        <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Cancelled</span><span class="text-body-tertiary fw-semibold">(2)</span></a></li>
        <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Finished</span><span class="text-body-tertiary fw-semibold">(14)</span></a></li>
        <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Postponed</span><span class="text-body-tertiary fw-semibold">(2)</span></a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-auto">
      <div class="d-flex align-items-center">
        <div class="search-box me-3">
          <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search" type="search" placeholder="Search projects" aria-label="Search" />
            <span class="fas fa-search search-box-icon"></span>
          </form>
        </div><a class="btn btn-phoenix-primary px-3 me-1" href="project-list-view.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="List view"><span class="fa-solid fa-list fs-10"></span></a><a class="btn btn-phoenix-primary px-3 me-1" href="project-board-view.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Board view"><svg width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0.5C0 0.223857 0.223858 0 0.5 0H1.83333C2.10948 0 2.33333 0.223858 2.33333 0.5V1.83333C2.33333 2.10948 2.10948 2.33333 1.83333 2.33333H0.5C0.223857 2.33333 0 2.10948 0 1.83333V0.5Z" fill="currentColor"></path>
            <path d="M3.33333 0.5C3.33333 0.223857 3.55719 0 3.83333 0H5.16667C5.44281 0 5.66667 0.223858 5.66667 0.5V1.83333C5.66667 2.10948 5.44281 2.33333 5.16667 2.33333H3.83333C3.55719 2.33333 3.33333 2.10948 3.33333 1.83333V0.5Z" fill="currentColor"></path>
            <path d="M6.66667 0.5C6.66667 0.223857 6.89052 0 7.16667 0H8.5C8.77614 0 9 0.223858 9 0.5V1.83333C9 2.10948 8.77614 2.33333 8.5 2.33333H7.16667C6.89052 2.33333 6.66667 2.10948 6.66667 1.83333V0.5Z" fill="currentColor"></path>
            <path d="M0 3.83333C0 3.55719 0.223858 3.33333 0.5 3.33333H1.83333C2.10948 3.33333 2.33333 3.55719 2.33333 3.83333V5.16667C2.33333 5.44281 2.10948 5.66667 1.83333 5.66667H0.5C0.223857 5.66667 0 5.44281 0 5.16667V3.83333Z" fill="currentColor"></path>
            <path d="M3.33333 3.83333C3.33333 3.55719 3.55719 3.33333 3.83333 3.33333H5.16667C5.44281 3.33333 5.66667 3.55719 5.66667 3.83333V5.16667C5.66667 5.44281 5.44281 5.66667 5.16667 5.66667H3.83333C3.55719 5.66667 3.33333 5.44281 3.33333 5.16667V3.83333Z" fill="currentColor"></path>
            <path d="M6.66667 3.83333C6.66667 3.55719 6.89052 3.33333 7.16667 3.33333H8.5C8.77614 3.33333 9 3.55719 9 3.83333V5.16667C9 5.44281 8.77614 5.66667 8.5 5.66667H7.16667C6.89052 5.66667 6.66667 5.44281 6.66667 5.16667V3.83333Z" fill="currentColor"></path>
            <path d="M0 7.16667C0 6.89052 0.223858 6.66667 0.5 6.66667H1.83333C2.10948 6.66667 2.33333 6.89052 2.33333 7.16667V8.5C2.33333 8.77614 2.10948 9 1.83333 9H0.5C0.223857 9 0 8.77614 0 8.5V7.16667Z" fill="currentColor"></path>
            <path d="M3.33333 7.16667C3.33333 6.89052 3.55719 6.66667 3.83333 6.66667H5.16667C5.44281 6.66667 5.66667 6.89052 5.66667 7.16667V8.5C5.66667 8.77614 5.44281 9 5.16667 9H3.83333C3.55719 9 3.33333 8.77614 3.33333 8.5V7.16667Z" fill="currentColor"></path>
            <path d="M6.66667 7.16667C6.66667 6.89052 6.89052 6.66667 7.16667 6.66667H8.5C8.77614 6.66667 9 6.89052 9 7.16667V8.5C9 8.77614 8.77614 9 8.5 9H7.16667C6.89052 9 6.66667 8.77614 6.66667 8.5V7.16667Z" fill="currentColor"></path>
          </svg></a><a class="btn btn-phoenix-primary px-3 border-0 text-body" href="project-card-view.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Card view"><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0.5C0 0.223858 0.223858 0 0.5 0H3.5C3.77614 0 4 0.223858 4 0.5V3.5C4 3.77614 3.77614 4 3.5 4H0.5C0.223858 4 0 3.77614 0 3.5V0.5Z" fill="currentColor"></path>
            <path d="M0 5.5C0 5.22386 0.223858 5 0.5 5H3.5C3.77614 5 4 5.22386 4 5.5V8.5C4 8.77614 3.77614 9 3.5 9H0.5C0.223858 9 0 8.77614 0 8.5V5.5Z" fill="currentColor"></path>
            <path d="M5 0.5C5 0.223858 5.22386 0 5.5 0H8.5C8.77614 0 9 0.223858 9 0.5V3.5C9 3.77614 8.77614 4 8.5 4H5.5C5.22386 4 5 3.77614 5 3.5V0.5Z" fill="currentColor"></path>
            <path d="M5 5.5C5 5.22386 5.22386 5 5.5 5H8.5C8.77614 5 9 5.22386 9 5.5V8.5C9 8.77614 8.77614 9 8.5 9H5.5C5.22386 9 5 8.77614 5 8.5V5.5Z" fill="currentColor"></path>
          </svg></a>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-3 mb-9">
    <div class="col" *ngFor="let pack of packs">
      <div class="card h-100 hover-actions-trigger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">{{ pack.packName }}</h4>

            <div class="hover-actions top-0 end-0 mt-4 me-4">
              <button class="btn btn-primary btn-icon flex-shrink-0" data-bs-toggle="modal" (click)="openPackModal(pack)" >
                <span class="fa-solid fa-chevron-right"></span>
              </button>
              </div>

          </div>

          <span class="badge badge-phoenix fs-10 mb-4 badge-phoenix-warning">Active</span>

          <div class="d-flex align-items-center mb-2">
            <span class="fa-solid fa-info-circle me-2 text-body-tertiary fs-9 fw-extra-bold"></span>
            <p class="fw-bold mb-0 text-truncate lh-1">Description: <span class="fw-semibold text-primary ms-1">{{ pack.description }}</span></p>
          </div>

          <div class="d-flex align-items-center mb-4">
            <span class="fa-solid fa-id-card me-2 text-body-tertiary fs-9 fw-extra-bold"></span>
            <p class="fw-bold mb-0 lh-1">ID: <span class="ms-1 text-body-emphasis">{{ pack.packId }}</span></p>
          </div>

          <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
            <p class="mb-2">Disponibilité</p>
            <p class="mb-2 text-body-emphasis">{{ daysAvailable(pack) }} jours</p>
          </div>

          <div class="progress bg-success-subtle">
            <div class="progress-bar rounded bg-success" role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>

          <div class="d-flex align-items-center mt-4">
            <p class="mb-0 fw-bold fs-9">Disponible depuis :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">{{ pack.availableDate | date:'dd/MM/yyyy' }}</span></p>
          </div>

          <div class="d-flex align-items-center mt-2">
            <p class="mb-0 fw-bold fs-9">Expire le : <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">{{ pack.expirationDate | date:'dd/MM/yyyy' }}</span></p>
          </div>

          <div class="d-flex d-lg-block d-xl-flex justify-content-between align-items-center mt-3">
            <div class="avatar-group">
              <!-- Vous pouvez ajouter des avatars ici si nécessaire -->
            </div>

            <div class="mt-lg-3 mt-xl-0">
              <i class="fa-solid fa-calendar-days me-1"></i>
              <p class="d-inline-block fw-bold mb-0">{{ daysUntilExpiration(pack) }}<span class="fw-normal"> jours restants</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>




<!-- The Modal - Updated version -->
<div class="modal fade" id="projectsCardViewModal" aria-labelledby="projectsCardViewModal" tabindex="-1" aria-hidden="true" *ngIf="selectedPack">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content overflow-hidden">
      <div class="modal-header position-relative p-0">
        <button class="btn btn-circle project-modal-btn position-absolute end-0 top-0 mt-3 me-3 bg-body-emphasis"
                (click)="closeModal()">
          <span class="fa-solid fa-xmark text-body"></span>
        </button>
        <img class="w-100" src="../../assets/img/generic/43.png" alt="" style="max-height: 200px;min-height: 150px;" />
      </div>

      <div class="modal-body p-5 px-md-6">
        <div class="row g-5">
          <div class="col-12 col-md-9">
            <div class="mb-4">
              <h3 class="fw-bolder lh-sm">{{ selectedPack.packName }}</h3>
              <p class="text-body-highlight fw-semibold mb-0">
                Status: <span class="badge badge-phoenix badge-phoenix-primary">Active</span>
              </p>
            </div>

            <div class="d-flex align-items-center mb-4">
              <p class="text-body-highlight fw-700 mb-0 me-2">
                {{ calculateProgress(selectedPack) }}%
              </p>
              <div class="progress bg-body-tertiary flex-1">
                <div class="progress-bar rounded-3"
                     [ngClass]="{
                       'bg-danger': calculateProgress(selectedPack) > 75,
                       'bg-warning': calculateProgress(selectedPack) > 50 && calculateProgress(selectedPack) <= 75,
                       'bg-success': calculateProgress(selectedPack) <= 50
                     }"
                     role="progressbar"
                     [style.width.%]="calculateProgress(selectedPack)">
                </div>
              </div>
            </div>

            <div class="mb-6">
              <h4 class="mb-3">Description</h4>
              <p class="text-body-highlight">{{ selectedPack.description }}</p>
            </div>

            <div class="mb-6">
              <h4 class="mb-3">Dates</h4>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <p class="fw-bold mb-1">Available From:</p>
                  <p>{{ selectedPack.availableDate | date:'mediumDate' }}</p>
                </div>
                <div class="col-md-6 mb-3">
                  <p class="fw-bold mb-1">Expires On:</p>
                  <p>{{ selectedPack.expirationDate | date:'mediumDate' }}</p>
                  <p>{{ selectedPack.packId}}</p>


                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3">
            <h5 class="text-body-secondary mb-3">Actions</h5>
            <div class="mb-6">
              <button class="btn btn-sm btn-subtle-danger rounded-3 mb-2 d-flex align-items-center w-100"
                      (click)="deletePack()"
                      [disabled]="deleteLoading">
                <span class="me-2 fa-solid fa-trash"></span>
                <span *ngIf="!deleteLoading">Delete</span>
                <span *ngIf="deleteLoading">Deleting...</span>
              </button>
              <button class="btn btn-sm btn-subtle-secondary rounded-3 mb-2 d-flex align-items-center w-100">
                <span class="me-2 fa-solid fa-box-archive"></span>Archive
              </button>
              <button class="btn btn-sm btn-subtle-secondary rounded-3 mb-2 d-flex align-items-center w-100">
                <span class="me-2 fa-solid fa-share-nodes"></span>Share
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

