<div class="content">
  <div class="pb-5">
    <div class="row g-4">
      <div class="col-12 col-xxl-6">
        <div class="mb-8">
          <h2 class="mb-2">Our Dashboard</h2>
          <h5 class="text-body-tertiary fw-semibold">Here’s what’s going on the User Dashboard</h5>
        </div>
        <div class="row align-items-center g-2">  <!-- Réduit l'espacement entre les colonnes -->
          <div class="col-12 col-md-4">  <!-- Chaque élément prend 1/3 de l'espace -->
            <div class="d-flex align-items-center">
              <span class="fa-stack" style="min-height: 40px;min-width: 40px;">  <!-- Taille réduite -->
                <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-success-light" data-fa-transform="down-4 rotate--10 left-4"></span>
                <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-success" data-fa-transform="up-4 right-3 grow-2"></span>
                <span class="fa-stack-1x fa-solid fa-star text-success" data-fa-transform="shrink-2 up-8 right-6"></span>
              </span>
              <div class="ms-2">  <!-- Marge réduite -->
                <h4 class="mb-0 fs-6">{{userCount}} Members</h4>  <!-- Taille de police réduite -->
                <p class="text-body-secondary fs-10 mb-0">Awating processing</p>  <!-- Taille de police réduite -->
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="d-flex align-items-center">
              <span class="fa-stack" style="min-height: 40px;min-width: 40px;">
                <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-warning-light" data-fa-transform="down-4 rotate--10 left-4"></span>
                <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-warning" data-fa-transform="up-4 right-3 grow-2"></span>
                <span class="fa-stack-1x fa-solid fa-pause text-warning" data-fa-transform="shrink-2 up-8 right-6"></span>
              </span>
              <div class="ms-2">
                <h4 class="mb-0 fs-6">  {{ stats.active }} users Actifs</h4>
                <p class="text-body-secondary fs-10 mb-0">On hold</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="d-flex align-items-center">
              <span class="fa-stack" style="min-height: 40px;min-width: 40px;">
                <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-danger-light" data-fa-transform="down-4 rotate--10 left-4"></span>
                <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-danger" data-fa-transform="up-4 right-3 grow-2"></span>
                <span class="fa-stack-1x fa-solid fa-xmark text-danger" data-fa-transform="shrink-2 up-8 right-6"></span>
              </span>
              <div class="ms-2">
                <h4 class="mb-0 fs-6">6 Admins</h4>
                <p class="text-body-secondary fs-10 mb-0">Leaders</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="bg-body-secondary mb-6 mt-4" />
        <ul class="echart-tab-example nav nav-tabs mb-3" id="echart-tab-example" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="bar-chart-tab" data-bs-toggle="tab" data-bs-target="#bar-chart" type="button" role="tab" aria-controls="bar-chart" aria-selected="true">
              Bar Chart
            </button>
          </li>
          
        </ul>
        
        <div class="tab-content" id="echart-tab-example-content">
          <div class="tab-pane fade show active" id="bar-chart" role="tabpanel" aria-labelledby="bar-chart-tab">
            <div #barChart style="height: 400px; margin-top: 20px;width: 100%;"></div>
          </div>
          <div class="tab-pane fade" id="line-charts" role="tabpanel" aria-labelledby="line-charts-tab">
            <div #lineChart style="height: 900px; margin-top: 170px;width: 100%;"></div>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-lg-8 col-xl-5">
          <h4 class="text-body-emphasis mb-4">Team members</h4>
          <div class="d-flex mb-8">
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <div class="avatar avatar-xl  me-1">
                <img class="rounded-circle " src="../../assets/img/team/mariemadmin.jpg" alt="" />
              </div>
            </a>
            <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
              <div class="position-relative">
                <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;"></div>
                <!--/.bg-holder-->
                <div class="p-3">
                  <div class="text-end"><button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button><button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button></div>
                  <div class="text-center">
                    <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img/team/mariemadmin.jpg" alt="" /></div>
                    <h6 class="text-white">Abouda Mariem</h6>
                    <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@Mariem</p>
                    
                  </div>
                </div>
              </div>
              <div class="bg-body-emphasis">
                <div class="p-3 border-bottom border-translucent">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex"><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button></div><button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                  </div>
                </div>
                <ul class="nav d-flex flex-column py-3 border-bottom">
                  <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                </ul>
              </div>
              <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
            </div>
          </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <div class="avatar avatar-xl  me-1">
                  <img class="rounded-circle " src="../../assets/img/team/raslenadmin.jpg" alt="" />
                </div>
              </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;"></div>
                  <!--/.bg-holder-->
                  <div class="p-3">
                    <div class="text-end"><button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button><button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button></div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img/team/raslenadmin.jpg" alt="" /></div>
                      <h6 class="text-white">Raslen Missaoui</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@RaslenRM</p>
                      
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex"><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button></div><button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <div class="avatar avatar-xl  me-1">
                  <img class="rounded-circle " src="../../assets/img/team/azizadmin.jpg" alt="" />
                </div>
              </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;"></div>
                  <!--/.bg-holder-->
                  <div class="p-3">
                    <div class="text-end"><button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button><button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button></div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img/team/azizadmin.jpg" alt="" /></div>
                      <h6 class="text-white">Aziz Gmaty</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@ViscaBarca </p>
                     
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex"><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button></div><button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <div class="avatar avatar-xl  me-1">
                  <img class="rounded-circle " src="../../assets/img/team/shaymaadmin.jpg" alt="" />
                </div>
              </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;"></div>
                  <!--/.bg-holder-->
                  <div class="p-3">
                    <div class="text-end"><button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button><button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button></div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img/team/shaymaadmin.jpg" alt="" /></div>
                      <h6 class="text-white">Shayma Ridene</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@Shayma22</p>
                     
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex"><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button></div><button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <div class="avatar avatar-xl  me-1">
                  <img class="rounded-circle " src="../../assets/img/team/Omaradmin.jpg" alt="" />
                </div>
              </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;"></div>
                  <!--/.bg-holder-->
                  <div class="p-3">
                    <div class="text-end"><button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button><button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button></div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img/team/Omaradmin.jpg" alt="" /></div>
                      <h6 class="text-white">Omar Marrakshi</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@Omar222</p>
                      
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex"><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button></div><button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <div class="avatar avatar-xl  me-1">
                  <img class="rounded-circle " src="../../assets/img/team/AssilAdmin.jpg" alt="" />
                </div>
              </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;"></div>
                  <!--/.bg-holder-->
                  <div class="p-3">
                    <div class="text-end"><button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button><button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button></div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img/team/AssilAdmin.jpg" alt="" /></div>
                      <h6 class="text-white">Assil Belhouene</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@Assoula</p>
                      
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex"><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button><button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button></div><button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            
          </div>
    
          
        </div>
        <!--<div class="echart-total-sales-chart" style="min-height:320px;width:100%"></div>-->
        <div class="echart-stacked-line-chart-example" style="min-height:300px"></div>
      </div>
      

      <div class="col-12 col-xxl-6">
        <div class="row g-3">
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="mb-1">Total Users<span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs-9 ms-2"></span></h5>
                    <h6 class="text-body-tertiary">Last 7 days</h6>
                  </div>
                  <h4>{{userCount + 6}} Users</h4>
                </div>
                <div class="d-flex justify-content-center px-4 py-6">
                  <div class="echart-total-orders" style="height:85px;width:115px"></div>
                </div>
                <div class="mt-2">
                  <div class="d-flex align-items-center mb-2">
                    <div class="bullet-item bg-primary me-2"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">Customers</h6>
                    <h6 class="text-body fw-semibold mb-0">84%</h6>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="bullet-item bg-primary-subtle me-2"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">Admins</h6>
                    <h6 class="text-body fw-semibold mb-0">16%</h6>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="mb-1">Nouveaux Clients
                      <!-- >>> MODIFICATION ICI : remplace le contenu de ce span <<< -->
                      <span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs-9 ms-2">
                        <span class="badge-label">
                           <!-- >>> REMPLACE TOUT LE CONTENU ENTRE CES SPAN badge-label PAR CE QUI SUIT <<< -->

                           <!-- Indicateur de chargement pour le pourcentage -->
                           <div *ngIf="isLoadingNewCustomersGrowth" class="spinner-border spinner-border-sm" role="status">
                               <span class="visually-hidden">Loading percentage...</span>
                           </div>
                           <!-- Affiche le pourcentage formaté quand il est chargé -->
                           <span *ngIf="!isLoadingNewCustomersGrowth">
                               {{ formatGrowthPercentage(newCustomersGrowthPercentage) }}
                           </span>

                           <!-- >>> FIN DU CONTENU À REMPLACER <<< -->
                        </span>
                      </span>
                      <!-- <<< FIN MODIFICATION SPAN PARENT <<< -->
                    </h5>
                    <h6 class="text-body-tertiary">Derniers 7 jours vs 7 jours précédents</h6> <!-- Optionnel: texte clarifié -->
                  </div>
                   <!-- Reste du contenu de la carte (nombre total ou graphique) -->
                  <div *ngIf="isLoadingNewCustomersCount">
                      <div class="spinner-border spinner-border-sm" role="status"></div>
                  </div>
                  <h4 *ngIf="!isLoadingNewCustomersCount">{{newCustomersCountLastWeek}}</h4>
                   <!-- Fin du reste du contenu -->
                </div>
                <!-- La div du graphique ECharts si tu la gardes -->
                <div class="pb-0 pt-4">
                   <div class="echarts-new-customers" style="height:180px;width:100%;">
                       <!-- Si tu gardes cette div, elle pourrait contenir un graphique de courbe des nouveaux clients par jour -->
                       <!-- Sinon, tu peux la supprimer -->
                   </div>
                </div>
              </div>
            </div>
          </div>

         

<!-- ... (Le code après cette section) ... -->
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="mb-2">Customers by Age</h5>
                    <h6 class="text-body-tertiary">Last 2 Months</h6>
                  </div>
                </div>
                <div class="pb-4 pt-3">
                  <div class="echart-top-coupons" style="height:115px;width:100%;"></div>
                </div>
                <div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="bullet-item bg-primary me-2"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">[10 => 20 ]</h6>
                    <h6 class="text-body fw-semibold mb-0">18%</h6>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="bullet-item bg-primary-lighter me-2"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">[20 => 30]</h6>
                    <h6 class="text-body fw-semibold mb-0">72%</h6>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="bullet-item bg-info-dark me-2"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0"> more than 30</h6>
                    <h6 class="text-body fw-semibold mb-0">10%</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="mb-2">Active vs inactive</h5>
                    <h6 class="text-body-tertiary">Last 7 days</h6>
                  </div>
                </div>
                
                <div class="d-flex justify-content-center pt-3 flex-1">
                  <div class="echarts-paying-customer-chart" style="height:100%;width:100%;"></div>
                </div>
                <div class="mt-3">
                  <div class="d-flex align-items-center mb-2">
                    <div class="bullet-item bg-primary me-2"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">Active Customer</h6>
                    <h6 class="text-body fw-semibold mb-0">70%</h6>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="bullet-item bg-primary-subtle me-2"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">Inactive customer</h6>
                    <h6 class="text-body fw-semibold mb-0">30%</h6>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
         
        </div>
        <div class="card"  >
          <div class="card-body">
            <h5 class="card-title">Statut des Utilisateurs</h5>
            
            <div *ngIf="!isLoading; else loader">
              <!-- Progress Bar Style -->
              <div class="mb-3">
                <div class="d-flex justify-content-between mb-1">
                  <span>Actifs: {{stats.active}} ({{getPercentage(stats.active)}}%)</span>
                  <span>Bannis: {{stats.banned}} ({{getPercentage(stats.banned)}}%)</span>
                </div>
                <div class="progress" style="height: 20px;">
                  <div class="progress-bar bg-success" 
                       [style.width.%]="getPercentage(stats.active)"></div>
                  <div class="progress-bar bg-danger" 
                       [style.width.%]="getPercentage(stats.banned)"></div>
                </div>
              </div>
        
             
              <div class="row">
                <div class="col-md-6">
                  <div class="alert alert-success">
                    <i class="fas fa-user-check me-2"></i>
                    Utilisateurs Actifs: <strong>{{stats.active}}</strong>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="alert alert-danger">
                    <i class="fas fa-user-slash me-2"></i>
                    Utilisateurs Bannis: <strong>{{stats.banned}}</strong>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #loader>
              <div class="text-center py-4">
                <div class="spinner-border text-primary" role="status"></div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-6 pb-9 mt-n20-custom">
        
        <div class="row g-6">
          <div class="col-12 col-xl-6">
            <div class="me-xl-4"> <!-- Peut-être ici ? -->
              <div>
                <h3>Projection vs Réel</h3>
                <p class="mb-1 text-body-tertiary">New users per week</p>
              </div>
              <div *ngIf="isLoadingProjectionActual" class="text-center py-4">
                 <div class="spinner-border text-primary" role="status"></div>
                 <span class="visually-hidden">Chargement...</span>
              </div>
              <div #projectionActualChart
                   class="echart-projection-actual"
                   style="height:300px; width:100%;"
                   [class.d-none]="isLoadingProjectionActual">
              </div>
            </div> <!-- Fin potentielle du div avec me-xl-4 -->
          </div>
          <div class="col-12 col-xl-6">
            <div>
              <h3>Returning customer rate</h3>
              <p class="mb-1 text-body-tertiary">Rate of customers returning to your shop over time</p>
            </div>
            <div class="echart-returning-customer" style="height:300px;"></div>
          </div>
        </div>
      </div>
  
  <!-- dashboard-user.component.html -->

 
</div>