<div class="row vh-100 g-0">
  <div class="col-lg-6 position-relative d-none d-lg-block">
    <div class="bg-holder" style="background-image:url('assets/img/bg/backgroundlost.jpg');"></div>
  </div>
  <div class="col-lg-6">
    <div class="row flex-center h-100 g-0 px-4 px-sm-0">
      <div class="col col-sm-6 col-lg-7 col-xl-6 d-flex flex-column" style="height: 100%;">
        <div>
          <a class="d-flex flex-center text-decoration-none mb-4" routerLink="/">
            <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
              <img src="assets/img/icons/gamemax-background.png" alt="logo" width="58" />
            </div>
          </a>
          <div class="text-center">
            <h4 class="text-body-highlight">Mot de passe oublié ?</h4>
            <p class="text-body-tertiary mb-5">
              Entrez votre email ci-dessous et nous vous enverrons<br class="d-xxl-none" />un lien de réinitialisation
            </p>
            
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="d-flex align-items-center mb-5">
              <input 
                class="form-control flex-1" 
                id="email" 
                type="email" 
                formControlName="email"
                placeholder="Email" 
                [ngClass]="{'is-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}"
              />
              <button class="btn btn-primary ms-2" type="submit" [disabled]="forgotPasswordForm.invalid">
                Envoyer<span class="fas fa-chevron-right ms-2"></span>
              </button>
            </form>

            <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger mb-3">
              Veuillez entrer une adresse email valide
            </div>

            <div *ngIf="successMessage" class="alert alert-success mt-3">
              {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>

            <a class="fs-9 fw-bold" routerLink="/contact">Toujours des problèmes ?</a>
          </div>
        </div>

        <div class="mt-auto mb-4 text-center">
          <a class="btn btn-outline-primary btn-return" routerLink="/signin">
            <span class="fas fa-angle-left me-2"></span>
            Retour à la page de connexion
          </a>
        </div>
      </div>
    </div>
  </div>
</div>